<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>My Class</title>

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">

  
</head>

<body>
    <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        
      </div>
      <!--logo start-->
      <a href="index" class="logo"><img src="/img/sahara logo 1 .png"  style="position:fixed;width:8%;  height:auto; margin:-10px;margin-left:-29px" /></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index#">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">4</span>
              </a>
            <ul class="dropdown-menu extended tasks-bar">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 4 pending tasks</p>
              </li>
              <li>
                <a href="index#">
                  <div class="task-info">
                    <div class="desc">Nebular Admin Panel</div>
                    <div class="percent">40%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index#">
                  <div class="task-info">
                    <div class="desc">Database Update</div>
                    <div class="percent">60%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                      <span class="sr-only">60% Complete (warning)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index#">
                  <div class="task-info">
                    <div class="desc">Product Development</div>
                    <div class="percent">80%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                      <span class="sr-only">80% Complete</span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="index#">
                  <div class="task-info">
                    <div class="desc">Payments Sent</div>
                    <div class="percent">70%</div>
                  </div>
                  <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="sr-only">70% Complete (Important)</span>
                    </div>
                  </div>
                </a>
              </li>
              <li class="external">
                <a href="#">See All Tasks</a>
              </li>
            </ul>
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index#">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme">5</span>
              </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-green"></div>
              <li>
                <p class="green">You have 5 new messages</p>
              </li>
              <li>
                <a href="index#">
                  <span class="photo"><img alt="avatar" src="img/ui-zac.jpg"></span>
                  <span class="subject">
                  <span class="from">Zac Snider</span>
                  <span class="time">Just now</span>
                  </span>
                  <span class="message">
                  Hi mate, how is everything?
                  </span>
                  </a>
              </li>
              <li>
                <a href="index#">
                  <span class="photo"><img alt="avatar" src="img/ui-divya.jpg"></span>
                  <span class="subject">
                  <span class="from">Divya Manian</span>
                  <span class="time">40 mins.</span>
                  </span>
                  <span class="message">
                  Hi, I need your help with this.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index#">
                  <span class="photo"><img alt="avatar" src="img/ui-danro.jpg"></span>
                  <span class="subject">
                  <span class="from">Dan Rogers</span>
                  <span class="time">2 hrs.</span>
                  </span>
                  <span class="message">
                  Love your new Dashboard.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index#">
                  <span class="photo"><img alt="avatar" src="img/ui-sherman.jpg"></span>
                  <span class="subject">
                  <span class="from">Dj Sherman</span>
                  <span class="time">4 hrs.</span>
                  </span>
                  <span class="message">
                  Please, answer asap.
                  </span>
                  </a>
              </li>
              <li>
                <a href="index#">See all messages</a>
              </li>
            </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">7</span>
              </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have 7 new notifications</p>
              </li>
              <li>
                <a href="index#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index#">
                  <span class="label label-warning"><i class="fa fa-bell"></i></span>
                  Memory #2 Not Responding.
                  <span class="small italic">30 mins.</span>
                  </a>
              </li>
              <li>
                <a href="index#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Disk Space Reached 85%.
                  <span class="small italic">2 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index#">
                  <span class="label label-success"><i class="fa fa-plus"></i></span>
                  New User Registered.
                  <span class="small italic">3 hrs.</span>
                  </a>
              </li>
              <li>
                <a href="index#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <form action ="/logout?_method=DELETE" method="POST" class="nav pull-right top-menu">
          <button type ="submit" class="logout" >Logout</button>
        </form>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile"><img src="/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered"> <%=data[0].name%></h5>
          <li class="mt">
            <a href="/home">
              <i class="fa fa-home"></i>
              <span>Home</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-users"></i>
              <span>Students</span>
              </a>
            <ul class="sub">
              <li><a href="/allStudents/<%=school%>">All Students</a></li>
              <li><a href="addStudent">Add Student</a></li>
			 
              </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-male"></i>
              <span>Staff</span>
              </a>
            <ul class="sub">
              <li><a href="/allTeachers/<%=school%>">All Teachers</a></li>
              <li><a href="addTeachers">Add Teachers</a></li>
             
              
            
            </ul>
          </li>
         
          <li class="sub-menu">
            <a href="/events/<%=school%>">
              <i class="fa fa-calendar"></i>
              <span>Events & Activities</span>
              </a>
            
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-money"></i>
              <span>Fees</span>
              </a>
            <ul class="sub">
              <li><a href="feesCollection">Fees Collection</a></li>
              <li><a href="addFees">Add Fess</a></li>
              
            </ul>
          </li>
          <li>
            <a href="smsGateway">
              <i class="fa fa-envelope"></i>
              <span>SMS Gateway </span>
        
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class=" fa fa-database"></i>
              <span>Insights</span>
			   </a>
              <ul class="sub">
              <li><a href="examResults">Academics</a></li>
              <li><a href="sports">Extra Curricular</a></li>
              

            </ul>
          </li>
          
          
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
     <section id="main-content">
      <section class="wrapper site-min-height">
       
     <div class ="attCalender">
                
             <div class="month">      
  <ul>
    <li onclick="myFunction1()" style="cursor: pointer" class="prev" >&#10094;</li>
    <li onclick="myFunct1()"   style="cursor: pointer"  class="next">&#10095;</li>
    <li id ="mnthA" >
    
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>


<ul class="days"  id = "daysA"   >

</ul>

 </div>               
   <script>

   

  		   
var d = new Date();
 var attMonth = ["January", "February","March","April","May","June","July","August","September","October","November","December"];
 	
 	 document.getElementById("mnthA").innerText = attMonth[d.getMonth()];
 	 

 	if (document.querySelector("#mnthA").innerText===attMonth[d.getMonth()]){
 var daysOutPut  = `
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="attended">Sports Day</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="attended">Prize Giving day</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		         	   	     	   		  
function myFunction1()  {
 	 var monthHeader = document.getElementById("mnthA").innerText;
 		for (m = 0; m < attMonth.length; m++){
 	 	   if (document.querySelector("#mnthA").innerText==='January'){break;}
 	 	    var prev = attMonth.indexOf(monthHeader)-1 ;
 	 	     var monthOutPut = attMonth[prev];
 	 		  var newMonth= document.querySelector("#mnthA").innerText = monthOutPut;}
 if (document.querySelector("#mnthA").innerText==='October'){
 	
var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut}
 else if (document.querySelector("#mnthA").innerText==='November'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
  `	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 }
 else if (document.querySelector("#mnthA").innerText==='December'){
 var daysOutPut  = `

<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
 `	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 }
 else if (document.querySelector("#mnthA").innerText==='January'){
 var daysOutPut  = `
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
  `	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 }
else if (document.querySelector("#mnthA").innerText==='February'){
 var daysOutPut  = `
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
 else if (document.querySelector("#mnthA").innerText==='March'){
 var daysOutPut  = `
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
else if (document.querySelector("#mnthA").innerText==='April'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		       	 		    	 		    
else if (document.querySelector("#mnthA").innerText==='May'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
 	else if (document.querySelector("#mnthA").innerText==='June'){
 var daysOutPut  = `
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
 	 	else if (document.querySelector("#mnthA").innerText==='July'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 	
 	   else if (document.querySelector("#mnthA").innerText==='August'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 	
 	     else if (document.querySelector("#mnthA").innerText==='September'){
 var daysOutPut  = `
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="attended">Prize Giving day</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		         	   	     	   		  
 	 		  }
function myFunct1()  {
	
 	  var monthHeader = document.getElementById("mnthA").innerText;
 		var attMonth = ["January", "February","March","April","May","June","July","August","September","October","November","December"];
 	     for (m = 0; m < attMonth.length; m++){
 	 	  if (document.querySelector("#mnthA").innerText==='December'){break;}
 	 	   var prev = attMonth.indexOf(monthHeader)+ 1 ;
 	 	    var monthOutPut = attMonth[prev];
 	 		 var newMonth= document.querySelector("#mnthA").innerText = monthOutPut;
 	 		 
 	 		 
 	 		 }
 	 		 	
 	 	if (document.querySelector("#mnthA").innerText==='October'){
 	
var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut}
 else if (document.querySelector("#mnthA").innerText==='November'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
  `	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 }
 else if (document.querySelector("#mnthA").innerText==='December'){
 var daysOutPut  = `

<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
 `	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 }
 else if (document.querySelector("#mnthA").innerText==='January'){
 var daysOutPut  = `
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
  `	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 }
else if (document.querySelector("#mnthA").innerText==='February'){
 var daysOutPut  = `
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
 else if (document.querySelector("#mnthA").innerText==='March'){
 var daysOutPut  = `
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
else if (document.querySelector("#mnthA").innerText==='April'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		       	 		    	 		    
else if (document.querySelector("#mnthA").innerText==='May'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
 	else if (document.querySelector("#mnthA").innerText==='June'){
 var daysOutPut  = `
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 		      
 	 	else if (document.querySelector("#mnthA").innerText==='July'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">2</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 	
 	   else if (document.querySelector("#mnthA").innerText==='August'){
 var daysOutPut  = `
<li><span class="active"></span></li>
<li><span class="active">1</span></li>
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="active">15</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>
<li><span class="active">31</span></li>
`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 	
 	     else if (document.querySelector("#mnthA").innerText==='September'){
 var daysOutPut  = `
<li><span class="active">3</span></li>
<li><span class="active">4</span></li>
<li><span class="active">5</span></li>
<li><span class="active">6</span></li>
<li><span class="active">7</span></li>
<li><span class="active">8</span></li>
<li><span class="active">9</span></li>
<li><span class="active">10</span></li>
<li><span class="active">11</span></li>
<li><span class="active">12</span></li>
<li><span class="active">13</span></li>
<li><span class="active">14</span></li>
<li><span class="attended">Prize Giving day</span></li>
<li><span class="active">16</span></li>
<li><span class="active">17</span></li>
<li><span class="active">18</span></li>
<li><span class="active">19</span></li>
<li><span class="active">20</span></li>
<li><span class="active">21</span></li>
<li><span class="active">22</span></li>
<li><span class="active">23</span></li>
<li><span class="active">24</span></li>
<li><span class="active">25</span></li>
<li><span class="active">26</span></li>
<li><span class="active">27</span></li>
<li><span class="active">28</span></li>
<li><span class="active">29</span></li>
<li><span class="active">30</span></li>

`	
 document.querySelector('#daysA').innerHTML = daysOutPut	
 } 	 }		         	   	     	   		  
 	 		  	 
 		 	
 	 		 		 		
 	 		
 	 		
</script>    
      <!-- /wrapper -->
   
 </section>
      <!-- /wrapper -->
    </section>	
     </section>
    <!-- /MAIN CONTENT -->
    <!--main content end--> 
<script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="lib/jquery.ui.touch-punch.min.js"></script>
  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="lib/jquery.scrollTo.min.js"></script>
  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="lib/common-scripts.js"></script>
  <!--script for this page-->

</body>
</html>