<!DOCTYPE Html>
<html>
<head>
<title>Nebular</title>
<link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" >
<link rel='stylesheet' href='https:fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https:cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/main10.css">


</head>

<body onload="bodyLoad()">

<div class="context">
<div id="context-content">

 </div>

	<div class="container" id="container">

    <div class="form-container sign-up-container">
	
	 <form action = "/ " method="POST">
		<img src="/img/sahara logo 1 .png" alt=""   class= "topLogo" />
			
			<span><h2 style="color:#c7c7c7;margin-top:-50px ">Admin Account</h2></span>
			
			 <% if (messages.error){ %>
       	<%= messages.error %>
      <% }%>
       <!--Register Section-->
     
        <input type="email" placeholder="Username"id="email1" name="email" required /> 
         <input type="password" placeholder="Password" id="password1" name="password" required /> 
         <button type="submit">Login</button>
         
		</form>
	</div>

	<div class="form-container sign-in-container">

		 <form action = "/ " method="POST">
		<img src="/img/sahara logo 1 .png" alt=""   class= "topLogo" />
			
			<span><h2 style="color:#c7c7c7;margin-top:-50px ">Admin Account</h2></span>
			 <% if (messages.error){ %>
       	<%= messages.error %>
      <% }%>
       <!--Register Section-->
     
        <input type="email" placeholder="Username"id="email" name="email" required /> 
         <input type="password" placeholder="Password" id="password" name="password" required /> 
			<a href="#">Forgot your password?</a>
			<button type="submit">Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<div id="demo"> </div>
				<button class="ghost" id="signIn" onclick="fun()" >Back</button>
			</div>
			<div class="overlay-panel overlay-right">
			<b>	<h1>Welcome..</h1></b>
				<p>Nebular is a state of the art cloud-based student-database system. Its  built on the latest technology using Chrome's V8 JavaScript Engine providing  a high-performance solution which helps schools manage student records, curriculum, attendance, grades, discipline, reporting and more. </p>
				<button class="ghost" id="signUp">See Features</button><br/>
				<a href="/teachers" ><button class="ghost" >Teachers</button></a>
			</div>
		</div>
	</div>
</div>
 </div>


</body>
	
<script>


   document.getElementById("signUp").addEventListener("click", function(){
   	if( document.getElementById("demo").innerText=== ""){
function printSentence(id, sentence, speed) {
  var index = 0,
      timer = setInterval(function() {
    var char= sentence.charAt(index);
    
    if(char === '<') index= sentence.indexOf('>',index);
    document.getElementById("demo").innerHTML= sentence.substr(0,index);
    if(++index === sentence.length){
      clearInterval(timer);
      
    }
  }, speed); 
} printSentence

printSentence(
  'contentDiv',
  '<ul><li>Mobile App for parents<li>Attendance Register<li>Monitor school accademic results<li>Course Work - home work,inclass exersises etc.<li>View Students merits, prizes and trophies<li>View Extra curricular activities, sports and clubs<li>SmS gateway to send Bulk Text messages to parents<li>View upcoming events and announcements<li>Coursework tracking per student<li>Student personal information<li>Student medical details and special needs<li>Student accounts overview<li>Integrated online grade book<li>Integrated library system</ul>',
  70
  
)}})

    
</script>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

function bodyLoad(){
	
	container.classList.add("brngForm")
}




signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});

 
</script>

</html>
