
         
          for (t=0;t<teachers.length;t++){
          	
          	for(var tt2 in  teachers[t].subjectsTaken){
           var allTeachers = teachers[t].subjectsTaken
          if (allTeachers.hasOwnProperty(tt2)) {
            	
             if(allTeachers[tt2][0]== newClass){
            nwe += `${allTeachers[tt2][1]},`
    	      twe += `${allTeachers[tt2][2]},`}} }}
    	       var tar = nwe.length -1 
    	       var rar =  twe.length -1 
    	        var ww = nwe.slice(0, tar) 
    	        var xx = twe.slice(0, rar) 
    	        var newww = ww.split(',');
    	        var newxx = xx.split(',');
    	         
    	        var subjL= ""
    	          for (aa=0;aa< newww .length;aa++){
	subjL += `{subject:"${newww [aa]}",teacher:"${newxx[aa]}",courseWork:[{term:0,year:0,date:0,Topic:0,Mark:0}],homeWork:[{term:0,year:0,date:0,Topic:0,Mark:0}],inClassTest:[{term:0,year:0,date:0,Topic:0,Mark:0}],finalTest:[{term:0,year:0,date:0,Mark:0}],attendance:[{attended:0,date:0}]},`}
	                  var aray = subjL 
	                   var nwy = aray.length -1 
                        var wch = aray.slice(0, nwy) ;
                         var object = (new Function("return [" + wch+ "];")());


	
