<!DOCTYPE Html>
<html>
<head>
<title>Nebular</title>
<link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" >
<link rel='stylesheet' href='https:fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https:cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/main10.css">
<link rel="stylesheet" href="popupS.css">
<script src="popupS.js"></script>

</head>
<style>
	.invisible {
display: none;
visibility: hidden;
   }
   
   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 25%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
 margin-top: 10%;
 margin-left: 35%;
}


/* Modal Content */
.modal-content {
 background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 20px;
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
<body onload="bodyLoad()">

<div class="context">
<div id="context-content">

 </div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Please enter the correct credentials!</p>
  </div>

</div>
	<div class="container" id="container">

    

	<div class="form-container sign-in-container">
	

		 <form action = "/teachers " method="POST">
		<img src="/img/sahara logo 1 .png" alt=""   class= "topLogo" />
			
			<span><h2 style="color:#c7c7c7;margin-top:-50px ">Teachers Account</h2></span>
			

      <div id='status' class='invisible'><%= errormessage %></div>
       <!--Register Section-->
     
        <input type="email" placeholder="Username"id="email" name="username" required /> 
         <input type="password" placeholder="Password" id="password" name="password" required /> 
			<a href="#">Forgot your password?</a>
			<button type="submit">Login</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<div id="demo"> </div>
				<button class="ghost" id="signIn" onclick="fun()" >Back</button>
			</div>
			<div class="overlay-panel overlay-right">
			<b>	<h1>Welcome..</h1></b>
				<p>Nebular is a state of the art cloud-based student-database system. Its  built on the latest technology using Chrome's V8 JavaScript Engine providing  a high-performance solution which helps schools manage student records, curriculum, attendance, grades, discipline, reporting and more. </p>
				<a href="/" ><button class="ghost" >Admin</button></a>
				
			</div>
		</div>
	</div>
</div>
 </div>


</body>
	
<script>

// Get the modal
var modal = document.getElementById("myModal");



// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

      if(document.getElementById('status').innerHTML != '')
      {
            modal.style.display = "block";
               
      }
      // When the user clicks on <span> (x), close the modal
span.onclick = function() {
	window.location="/teachers";
  
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
   window.location="/teachers";
  }
}

</script>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

function bodyLoad(){
	
	
	container.classList.add("brngForm")
}






signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});

 
</script>

</html>
