* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}
#logout{
	position:fixed;
	top:10px;
	left:90%;
}
.btn-theme{
	position: absolute;
	top:90px;
	left:35px;
}
.wMenu{
	display: none;
}
#regForm {
  background-color:rgba(6, 6, 33, 0.5);
  margin-left: 15%;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;

}
#reg {
  background-color:rgba(6, 6, 33, 0.5);
  margin-left: 20%;
  margin-top: 90px;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;

}
h1 {
  text-align: center;  
}

input {
  padding: 10px;
  
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */

input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.form-group {
  display: none;
}

button {
	position: absolute;
	top:420px;
	left: 570px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
 
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
	position: fixed ;
  background-color: #bbbbbb;
 left: 10%;
  top:60%;	
 width:100px
}

#prev {
	position: fixed ;
  background-color: #bbbbbb;
 left: 20%;
  top:60%;	
 width:100px
}
#nextBtn{
position: fixed ;
 width:100px;
 left: 80%;
  top:60%;	
}

/* Make circles that indicate the steps of the form: */
.step {

  height: 15px;
  width: 15px;

  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
@media screen and  (max-width: 976px) {
	html{
	height: 100%
} 
body{
	 height: 100%;
    overflow: auto; }
 .row {
    padding-left: 16%;
}
.topLogo2 {
    position: absolute;
    width: 35%;
    height: auto;
    top: -60px;
    left: -40px;
} 
 .header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1002;
    height: 20px;
}
#reg {
   background-color: rgba(6, 6, 33, 0.5);
    margin-left: 10%;
    margin-top: 90px;
    font-family: Raleway;
    padding: 40px;
    width: 120%;
    min-width: 300px;
}
.step {
	position: relative;
    height: 15px;
    width: 15px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    margin-top: 110px;
    left:120px;
    
}
#prev {
    position: fixed;
    background-color: #bbbbbb;
    left: 30%;
    top: 60%;
    width: 100px;
}
.btn-theme {
    position: absolute;
    top: 190px;
    left: 35px;
}
  
@media screen  and (max-device-width: 976px) and  (orientation: landscape){
html{
	height: 100%
} 
body{
	 height: 100%;
    overflow: auto; }
 .step {
    position: relative;
    height: 15px;
    width: 15px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    margin-top: 170px;
    left: 120px;
}
	}
    
    @media screen  and (max-width: 1024px) and  (orientation: landscape){  
html{
	height: 100%;
}
body {
 height: 100%;
    overflow: auto; }}
@media screen and (max-width:480px) {
    .topLogo2 {
    position: absolute;
    width: 55%;
    height: auto;
    top: -31px;
    left: -30px;
}
.wMenu{
	width:50px;
	height:25px;
	border: 1px solid #666666 !important;
    padding:  2px 6px;
      background: rgba(6, 6, 33, 0.7);
    border-radius: 4px;
	display: inline;
	position: relative;
	top:28px;
	left:60%;
	color: #9a9a9a
}
#logout {
	font-size: 13px;
	width:50px;
	height:25px;
    color: #9a9a9a;
    position: absolute;
    margin-top: 18px;
    -webkit-border-radius: 4px;
    border: 1px solid #666666 !important;
    padding: 2px 6px;
    margin-left: -25px;
      background: rgba(6, 6, 33, 0.7);
}
#reg {
    background-color: rgba(6, 6, 33, 0.5);
    margin-left: 25%;
    margin-top: 90px;
    font-family: Raleway;
    padding: 40px;
    width: 120%;
    min-width: 300px;
}
#nextBtn {
    position: fixed;
    width: 100px;
    left: 60%;
    top: 15%;
}
#prev {
    position: fixed;
    background-color: #bbbbbb;
    left: 15%;
    top: 15%;
    width: 100px;
}

    }
@media screen  and (max-width: 800px) and  (orientation: landscape){
	#nextBtn {
    position: absolute;
    width: 100px;
    left: 80%;
    top: 25%;
}
#prev {
     position: absolute;
    background-color: #bbbbbb;
    left: 30%;
    top: 25%;
    width: 100px;
}
.topLogo2 {
    position: absolute;
    width: 30%;
    height: auto;
    top: -50px;
    left: -10px;
}
}