
		html,body {
  height:100%;
  width:100%;
}
 
#myChart {
  height:100%;
  width:100%;
  min-height:150px;
}
 .zc-data-table{
 position: fixed;
 top:80px;
 left:0px
 }
.zc-ref {
  display: none;
}
#customers {
	position: absolute;
	left: -44px;
	top:25px;
  font-family: poppins, sans-serif;
  border-collapse: collapse;
  background:  rgba(6, 6, 33, 0.2);
 



}

#customers td, #customers th {

  font-family:poppins;
  height: 50px;
 color:black;
 border: solid;
  border-color: rgba(6, 6, 33, 1);
}




#customers tr:hover {background-color: #ddd;}

#customers th {
	text-align: center;
  padding-top: 4px;
  padding-bottom: 12px;
  
  background-color:  rgba(6, 6, 33, 1);
  color: #c7c7c7;
 
}
@media screen and  (max-width: 976px) {
	html{
	height: 100%;
}

body {
 height: 100%;
    overflow: auto; 
  width:40%;
}
}
@media screen  and (max-width: 1024px) and  (orientation: landscape){ 
html{
	height: 100%;
}
body{
	 height: 100%;
    overflow: auto; 
}
.proFlex21 {
    position: relative;
    top: 20px;
    left: 10px;
    width: 88%;
    height: auto;
    transition: transform 3s;
    transition-timing-function: ease-out;
}
.tabcontent {
    position: absolute;
    left: 220px;
    top: 99px;
    background-color: white;
    padding: 6px 12px;
    overflow: auto;
    border-top: none;
    width: 78.6%;
    height: auto;
    box-shadow: 1px 1px 1px 1px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dro button {
    border-style: none;
    background-color: #060621;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 0px;
    color: #fff !important;
}
.prouserpic1 {
    float: left;
    width: 50px;
    margin-top: 20px;
    margin-left: -60px;
    width: 280px;
    height: 557px;
    text-align: center;
    background-color: rgba(6, 6, 33, 0.7);
    border-radius: 5px;
    transition: transform 3s;
    transition-timing-function: ease-out;
}
.tab {
	position: absolute;
    width: 78%;
    font-family: poppins;
    font-size: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #333;
    background-color: rgba(6, 6, 33, 0.7);
    color: #c7c7c7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -15%;
    left:33%;
}
}
@media screen and (max-width:480px) {
  html, body {width: auto!important; overflow-x: hidden!important}
 .topLogo2 {
    position: absolute;
    width: 50%;
    height: auto;
    top: -25px;
    left: -25px;
}
.wMenu{
	width:50px;
	height:25px;
	border: 1px solid #666666 !important;
    padding:  2px 6px;
     background: rgba(6, 6, 33, 0.7);
    border-radius: 4px;
	display: inline;
	position: relative;
	top:28px;
	left:55%;
}
.logout {
	font-size: 13px;
	width:50px;
	height:25px;
    color: #9a9a9a;
    position: absolute;
    margin-top: 3px;
    -webkit-border-radius: 4px;
    border: 1px solid #666666 !important;
    padding: 2px 6px;
    margin-left: -45px;
      background: rgba(6, 6, 33, 0.7);
}
.prouserpic1 {
    float: left;
    margin-top: 20px;
    margin-left: -15px;
    width: 340px;
    height: 495px;
    text-align: center;
    background-color: rgba(6, 6, 33, 0.7);
    border-radius: 5px;
    transition: transform 3s;
    transition-timing-function: ease-out;
}
.tab {
    width: 105%;
    margin-left:-30px;
    font-family: poppins;
    font-size: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #333;
    background-color: rgba(6, 6, 33, 0.7);
    color: #c7c7c7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabcontent {
    position: absolute;
    left: 0px;
    margin-left: -35px;
    top: 150px;
    background-color: white;
    padding: 6px 12px;
    overflow: auto;
    border-top: none;
    width: 590%;
    height: 460px;
    box-shadow: 1px 1px 1px 1px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.tabcontent {
    position: absolute;
    left: 0px;
    margin-left: -35px;
    top: 150px;
    background-color:rgba(6, 6, 33, 1);
    padding: 6px 12px;
    overflow: auto;
    border-top: none;
    width: 109%;
    height: 460px;
    box-shadow: 1px 1px 1px 1px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dro button {
    border-style: none;
    background-color: #c7c7c7;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 5%;
    width: 140px;
    color: #000 !important;
}
#customers td, #customers th {
    font-family: poppins;
    height: 50px;
    color: #c7c7c7;
    border: solid;
    border-color: rgba(6, 6, 33, 1);
}
#subj li {
    font-weight: !important;
    padding-top: 5px;
    margin-top: 15px;
    color: #c7c7c7;
    margin-left: -20px;
    font-size: 14px;
    height: 30px;
    list-style-type: disc;
}
#sportsList li {
    padding-top: 15px;
    color: #c7c7c7;
}
#clubsList li {
    padding-top: 15px;
    color: #c7c7c7;
}
#groupsList li {
    padding-top: 15px;
      color: #c7c7c7;
}
#sidebar{
	display:none
}

   }
   
  @media screen  and (max-width: 860px) and  (orientation: landscape){
  	.prouserpic{
	float: left;
    width: 50px;
	margin-top:20px;
  transform: translateY(-120%);

	width: 300px;
	height:507px;
    text-align: center;
	background-color:rgba(6, 6, 33, 0.7);
	border-radius:5px;
	
}
  	 .prouserpic1 {
  	 	
    float: left;
   
    margin-top: 50px;
    margin-left: 10px;
    width: 410px;
    height: 557px;
    text-align: center;
    background-color: rgba(6, 6, 33, 0.7);
    border-radius: 5px;
    transition: transform 4s;
    transition-timing-function: ease-out;
}


.tab {
    position: absolute;
    width: 978%;
    font-family: poppins;
    font-size: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #333;
    background-color: rgba(6, 6, 33, 0.7);
    color: #c7c7c7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -15%;
    left: 33%;
}
.tabcontent {
    position: absolute;
    left: 10px;
    top: 99px;
    background-color: white;
    padding: 6px 12px;
    overflow: auto;
    border-top: none;
    width: 1000%;
    height: auto;
    box-shadow: 1px 1px 1px 1px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
 #sidebar {
    width: 185px;
    height: 100%;
    position: fixed;
    background: rgba(6, 6, 33, 0.5);
}
ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 7px 0 9px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.topLogo2 {
    position: absolute;
    width: 30%;
    height: auto;
    top: -50px;
    left: -10px;
}
}
@media screen  and (min-width: 640px) and  (max-width: 980px) and (orientation:landscape){
	.prouserpic{
	float: left;
    width: 50px;
	margin-top:20px;
  transform: translateY(-120%);

	width: 300px;
	height:507px;
    text-align: center;
	background-color:rgba(6, 6, 33, 0.7);
	border-radius:5px;
	
}
.prouserpic1 {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    width: 310px;
    height: 557px;
    text-align: center;
    background-color: rgba(6, 6, 33, 0.7);
    border-radius: 5px;
    transition: transform 4s;
    transition-timing-function: ease-out;
}

	.tabcontent {
    position: absolute;
    left: 334px;
    top: -480px;
    background-color: white;
    padding: 6px 12px;
    overflow: auto;
    border-top: none;
    width: 279%;
    height: auto;
    box-shadow: 1px 1px 1px 1px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tab {
    position: absolute;
    width: 279%;
    font-family: poppins;
    font-size: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #333;
    background-color: rgba(6, 6, 33, 0.7);
    color: #c7c7c7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -404%;
    left: 233%;
}}

@media screen  and (min-width: 480px) and  (max-width: 860px) and (orientation:landscape){
	.tabcontent {
    position: absolute;
    left: -25px;
    top: 140px;
    background-color: white;
    padding: 6px 12px;
    overflow: auto;
    border-top: none;
    width: 1370%;
    height: auto;
    box-shadow: 1px 1px 1px 1px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
	.tab {
    position: absolute;
    width: 1378%;
    font-family: poppins;
    font-size: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #333;
    background-color: rgba(6, 6, 33, 0.7);
    color: #c7c7c7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: -15%;
    left: -103%;
}
	.topLogo2 {
    position: absolute;
    width: 45%;
    height: auto;
    top: -55px;
   
    left: -40px;
}
.prouserpic1 {
    float: left;
    margin-top: 50px;
    margin-left: -20px;
    width: 370px;
    height: 557px;
    text-align: center;
    background-color: rgba(6, 6, 33, 0.7);
    border-radius: 5px;
    transition: transform 4s;
    transition-timing-function: ease-out;
}
}