
		html,body {
  height:100%;
  width:100%;
}
 
#myChart {
  height:100%;
  width:100%;
  min-height:150px;
}
 .zc-data-table{
 position: fixed;
 top:80px;
 left:0px
 }
.zc-ref {
  display: none;
}
#customers {
	position: absolute;
	left: -44px;
	top:25px;
  font-family: poppins, sans-serif;
  border-collapse: collapse;
  background:  rgba(6, 6, 33, 0.2);
 



}

#customers td, #customers th {

  font-family:poppins;
  height: 50px;
 color:black;
 border: solid;
  border-color: rgba(6, 6, 33, 1);
}




#customers tr:hover {background-color: #ddd;}

#customers th {
	text-align: center;
  padding-top: 4px;
  padding-bottom: 12px;
  
  background-color:  rgba(6, 6, 33, 1);
  color: #c7c7c7;
 
}
