.prouserpic{
	float: left;
    width: 50px;
	margin-top:20px;
  transform: translateY(110%);

	width: 300px;
	height:507px;
    text-align: center;
	background-color:rgba(6, 6, 33, 0.7);
	border-radius:5px;
	
}
.prouserpic1{
	float: left;
    width: 50px;
	margin-top:20px;
    margin-left: -80px;
	width: 300px;
	height:507px;
    text-align: center;
	background-color:rgba(6, 6, 33, 0.7);
	border-radius:5px;
	transition: transform  3s ;
	transition-timing-function: ease-out;
}


.profile-usertitle-name {
	font-size: 20px;
    margin-bottom: 2px;
    font-weight: bold;
    color: #c7c7c7;
}
.profile-usertitle-job {
    color: grey;

    font-size: 14px;
    margin-bottom: 5px;
}
a{color:grey;}
.profile-userpic img {
    margin-top: 10px ;
	margin-left:30%;
    width: 130px;
    padding: 3px;
    border: 3px solid rgb(210, 214, 222);
    border-radius: 50% 50% 50% 50%;
}

.list-group {
	text-align:left;
	line-height: 15px;

}
.list-group-item1 {
	padding-top:5px;
	background-color:rgba(60,65,81, 0.4);
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;

	
}
/* Style the tab */
.proFlex2{
	position: relative;
	top: 20px;
	transform: translateX(80%);
	width:98%;
	
}
.proFlex21{
	position: relative;
	top: 20px;
	left: 10px;
	width:98%;
	transition: transform  3s ;
	transition-timing-function: ease-out;
}


.tab {
	padding-left:30px;
	font-family: poppins;
	font-size: 12px;
  overflow: hidden;
 box-shadow:1px 1px 1px 1px #333;
	background-color:rgba(6, 6, 33, 0.7);
  color:#c7c7c7;
   border-top-left-radius: 5px;
     border-top-right-radius: 5px;
  
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
 
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #6b5b95;
   border-radius: 3px;
   color: #333;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
   border-radius: 3px;
    color: #333;
}

/* Style the tab content */
.tabcontent {
position: absolute;
left:220px;
top:49px;
background-color: white;
padding: 6px 12px;
overflow: auto;

  border-top: none;
  width:78.6%;
  height:460px;
   box-shadow:1px 1px 1px 1px #333;
   border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 
}
.timetableStyle td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.timetableStyle {
	position: relative;
	top: 20px;
	  text-align: left;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.timetableStyle td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
  border:solid;  
}

/* Background-color of the odd rows */
.timetableStyle tr:nth-child(odd) {
	  background-color: rgba(6,6,33);
}

/* Background-color of the even rows */
.timetableStyle tr:nth-child(even) {
	  background-color: rgba(6,6,33);
}

.timetableStyle th {
	  background-color: rgba(6,6,33);
	  font-size: 13px;
	  border: solid;
	 height: 50px;
	  
}


.timetableStyle td:first-child { color: #6b5b95; }

.timetableStyle tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.timetableStyle td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.timetableStyle td:nth-child(4),
.timetableStyle th:nth-child(4) { display: none; }
}

@media screen and  (max-width: 976px) {
.prouserpic1{
	float: left;
    margin-top:20px;
    margin-left:50px;
	width: 450px;
	height:507px;
    text-align: center;
	background-color:rgba(6, 6, 33, 0.7);
	border-radius:5px;
	transition: transform  3s ;
	transition-timing-function: ease-out;
}
.tabcontent {
position: absolute;
    left: 0px;
    top: 100px;
    background-color: white;
    padding: 6px 12px;
    overflow: auto;
    border-top: none;
    width: 590%;
    height: 460px;
    box-shadow: 1px 1px 1px 1px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tab {
    width: 590%;
    font-family: poppins;
    font-size: 12px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #333;
    background-color: rgba(6, 6, 33, 0.7);
    color: #c7c7c7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

}